<div *ngIf="review" [ngClass]="(review.beerid == 'fourwindsnect')?'jumbotron fourwindsnect':'jumbotron'">
    <div class="row" id="top-header">
        <div class="col-sm-3 col-xs-1"></div>
        <div class="col-sm-6 col-xs-10 text-center well">{{ review.reviewer }}</div>
        <div class="col-sm-3 col-xs-1"></div>
    </div>
    <div class="row">
        <h3>
            <div class="col-sm-8"><span class="bg-warning" style="font-family: 'Raleway', sans-serif;">{{ review.beer }}</span></div>
            <div class="col-sm-4"></div>
        </h3>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12"><span class="bg-warning">{{ review.tagline }}</span></div>
    </div>
</div>