* {
  background-color: none;
}

#Header {
    height: 100px;
    width: 100px;
    background-color: teal;
    margin: auto;
}

p {
  font-family: Arial;
  font-size: 1em;
}

h1 {
  font-family: Arial Black;
  font-size: 1.5em
}

h2 {
  font-family: Arial Black;
  font-size: 1em
}
