<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="https://rawgit.com/FransK/beer/Daniel-Work/src/app/beer/beer-details/beer-details.component.css"/>
    <!--I looked it up and you cannot fetch a file from GitHub to use in as a CSS stylesheet the way that we have it set up. I did however, find a 
solution which fetches the data from an external website similar to the HTML viewer website. It's called RawGiT-->
		<title>Beer Details</title>
	</head>
	<body>
    <p> Test to see if CSS stylesheet is <span>working as intended</span>. </p>
	</body>
</html>
