<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brew Review</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a [routerLink]="['/recents']">Recents</a></li>
            </ul>
            <!-- If we're not logged in, just display login -->
            <ul *ngIf="!currentReviewer" class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <!-- If we're logged in, give us a drop down with links to what we can do -->
            <ul *ngIf="currentReviewer" class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a [routerLink]="['/admin']">Admin</a></li>
                <li class="dropdown" ngbDropdown style="cursor:pointer">
                    <a class="dropdown-toggle" id="dropdownUser" ngbDropdownToggle>{{(currentReviewer)?.displayName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownUser">
                        <li class="dropdown-item"><a (click)="onClickLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid wide">
    <div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">Brew Review</div>
    <div class="col-xs-5 line"><hr></div>
</div>

<div class="container-fluid" style="margin-top:50px">
    <h1> BEER BEER BEER BEER BEER... </h1>
    <router-outlet></router-outlet>
</div>