div {
  font-family: 'Open Sans', sans-serif;
}

.wide {
  width:100%;
  height:600px;
  background-image:url('/assets/header.JPG');
  background-size:cover;
  padding-top:20px;
}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-family: 'Lobster', cursive;
  font-weight:350;
  font-size:18pt;
  padding-top:55px;
  text-align:center;
}

.line {
  padding-top:49px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.navbar li.dropdown.show > a {
  color: #fff;
  background-color: #080808;
}

.navbar li.dropdown.show > ul {
  background-color: #222;
  border-color: #080808;
}

.dropdown-menu > li > a {
  background-color: transparent;
  color: #9d9d9d;
}

.dropdown-menu > li > a:hover {
  color: #fff;
}

.dropdown-menu > li.dropdown-item:hover {
  background-color: #080808;
}