<div class="container">
    <div [hidden]="submitted">
        <h3>Add Beer</h3>
        <form (ngSubmit)="onSubmit()" #beerForm="ngForm">
            <div class="form-group">
                <label class="center-block" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required minlength="4" maxlength="40" [(ngModel)]="beerModel.name" #name="ngModel">
                <div *ngIf="formErrors.name" class="alert alert-danger">{{ formErrors.name }}</div>
            </div>
            <div class="form-group">
                <label for="beerid">Beer ID</label>
                <input type="text" class="form-control" id="beerid" name="beerid" required maxlength="15" [(ngModel)]="beerModel.beerid" #beerid="ngModel">
                <div *ngIf="formErrors.beerid" class="alert alert-danger">{{ formErrors.beerid }}</div>
            </div>
            <div class="form-group">
                <label for="breweryid">Brewery</label>
                <select class="form-control" id="breweryid" name="breweryid" required [(ngModel)]="beerModel.breweryid" #breweryid="ngModel">
                    <option *ngFor="let brewery of breweries | async" [value]="brewery.$key">{{brewery.name}}</option>
                </select>
                <div [hidden]="breweryid.valid || breweryid.pristine" class="alert alert-danger">Brewery ID is required</div>
            </div>
            <div class="form-group">
                <label class="center-block" for="character">Characteristics</label>
                <div *ngFor="let character of characteristics | async" class="checkbox">
                    <label class="center-block text-capitalize"><input type="checkbox" id="character" name="character" [(ngModel)]="beerModel.characteristics[character.$key]">{{character.$key}}</label>
                </div>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control text-capitalize" id="type" name="type" required [(ngModel)]="beerModel.type" #type="ngModel">
                    <option *ngFor="let type of types | async" [value]="type.$key">{{type.$key}}</option>
                </select>
                <div [hidden]="type.valid || type.pristine" class="alert alert-danger">Type is required</div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!beerForm.form.valid">Submit</button>
        </form>
    </div>

    <div [hidden]="!submitted || verified">
        <h2>You are about to submit the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9  pull-left">{{ beerModel.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Beer ID</div>
            <div class="col-xs-9 pull-left">{{ beerModel.beerid }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Brewery ID</div>
            <div class="col-xs-9 pull-left">{{ beerModel.breweryid }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Characteristics</div>
            <div class="col-xs-9 pull-left">{{ beerModel.characteristics | json }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Type</div>
            <div class="col-xs-9 pull-left">{{ beerModel.type }}</div>
        </div>
        <br>
        <button class="btn btn-success" (click)="onVerified()">Submit</button>
        <button class="btn btn-danger" (click)="submitted=false">Edit</button>
    </div>

    <div [hidden]="!verified">
        <h2>Success! Beer added.</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9  pull-left">{{ beerModel.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Beer ID</div>
            <div class="col-xs-9 pull-left">{{ beerModel.beerid }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Brewery ID</div>
            <div class="col-xs-9 pull-left">{{ beerModel.breweryid }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Characteristics</div>
            <div class="col-xs-9 pull-left">{{ beerModel.characteristics | json }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Type</div>
            <div class="col-xs-9 pull-left">{{ beerModel.type }}</div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false; verified=false">Add Another</button>
    </div>
</div>