div {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

div.component-background {
    background: url('/assets/review-default.JPG') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.filter-terms {
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-results {
  margin-top: 40px;
}